* {
    box-sizing: border-box;
}

html, body, #map-container 
{
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: sans-serif;
}

#appName
{
    background-color:cadetblue;
    width: 180px;
    position: absolute;
    right: 0px;
    border-radius: 0px 0px 0px 15px;
    z-index: 1;
}

h3
{
    color:white;
    font-size: 20px;
    text-align: center;
}

.imgclass
{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 19px;
    opacity: 1;
    z-index: 1;
}

#img1
{
    left: 25px;
}

#img2
{
    left: 110px;
}

#switch
{
    background-color: aliceblue;
    width: 138px;
    height: 80px;
    top: -1px;
    right: -4px;
    border-radius: 15px;
    position: absolute;
    z-index: 1;
}

#search
{
    margin-top: 10px;
    margin-left: 9px;
    width: 135px;
}

#searchbutton
{
    margin-left: -4px;
}

#LayerSwitcher
{
    background-color: white;
    position: absolute;
    border-style: solid;
    width: 169px;
    top: 81px;
    right: 4px;
    border-radius: 9px 9px 9px 9px;
    z-index: 1;
}

.layerclass
{
    font-size: 19px;
    font-weight: bold;
    padding: 0px 38px 7px 7px;
}

.layercheckbox
{
    height:18px;
    width:15px;
}
/* POPUP */
.ol-popup 
{
    position: absolute;
    background-color: white;
    -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    padding: 0px 6px 6px 6px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
    min-width: 238px;
    overflow: scroll;
    height: 140px;
}
.ol-popup:after, .ol-popup:before 
{
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.ol-popup-closer 
{
    text-decoration: none;
    position: absolute;
    top: -2px;
    right: 6px;
}